
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item-count {
  background: #d1ebf1;
  padding: 5px;
  color: black;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 25%;
}

.btn-update {
  margin: 5px 0;
}

.empty {
  margin: 5px;
}